




.square {
    width: 100px;
    height: 100px;
    border: 1px solid peru;
    background-color: red;
}

@media screen and (min-width: 768px) {
.square {
    background-color: blue;
}
}

@media screen and (min-width: 1200px) {
    .square {
        background-color: green;
    border-radius: 50%;
}
}
